:root{
    --vermelho: #E50914; /*Variavel*/
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Basicamente: ninguem vai ultrapassar a borda da caixa*/
}

/*Elementos base*/

body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container{
  /*  border: 1px solid rgb(231, 128, 128);*/
    position: fixed;
    width: 100vw;
    background-color: #141414;
    margin-left: 0;
    display: flex; 
    flex-direction: row;/* é o padrão do display:flex, joga tudo como linha*/
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 20px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 35px;
}

header nav a:hover{ /*hover: evento quando o mouse está por cima*/
    color: #fff;
}

/*Filme principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0,.50), rgba(0, 0, 0,.50)100%), url('../img/capa-house.jpg');
    /*Gradiente:cria uma camada fina em cima da imagem com uma tonalidade. Pede sempre duas cores*/
    height: 600px;
    background-size: cover; /*Para ficar no tamanho da caixa, "cobrir" */

    display: flex; /*Apenas as filhas diretas da classe recebem essa modificação*/
    flex-direction: column; /*Justify-content sempre segue a direção do flex-direction*/
    justify-content: center;
    align-items: flex-start; /*Começa sempre da esquerda*/
}
.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo{
    margin-top: 20%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;   
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 13px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all; /*Delay para a transição nao ficar muito 'seca'*/
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{  /*todos os container*/
    margin-left: 20px;
}

.filme-principal .container{ /*container da classe principal*/
    width: 55%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrossel-filmes{
    margin-top: 8px;
}

.item{
    cursor: pointer;
}