:root{
    --vermelho: #E50914; /*Variavel*/
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Basicamente: ninguem vai ultrapassar a borda da caixa*/
}

/*Elementos base*/

body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    border: 1px solid rgb(231, 128, 128);
    display: flex; 
    flex-direction: row;/* é o padrão do display:flex, joga tudo como linha*/
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{ /*hover: evento quando o mouse está por cima*/
    color: #fff;
}

/*Filme principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0,.50), rgba(0, 0, 0,.50)100%), url('/img/capa-house.jpg');
    /*Gradiente:cria uma camada fina em cima da imagem com uma tonalidade. Pede sempre duas cores*/
    height: 400px;
    background-size: cover; /*Para ficar no tamanho da caixa*/

    display: flex; /*Apenas as filhas diretas da classe recebem essa modificação*/
    flex-direction: column; /*Justify-content sempre segue a direção do flex-direction*/
    justify-content: center;
    align-items: flex-start; /*Começa sempre da esquerda*/
}
.filme-principal .descricao{
    margin-bottom: 40px;
}

.titulo{
    font-size: 40px;
}